.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 30px;
  padding: 20px 0 100px 0;
  font-family: "Barlow", serif;
  font-size: 1.25rem;
}
.navbar-ul {
  width: 30%;
}
.navbar-ul ul {
  display: flex;
  color: #ffffff;
  justify-content: space-between;
  align-items: center;
}
.navbar-ul li {
  cursor: pointer;
  list-style-type: none;
}
.navbar-ul ul button {
  border: none;
  padding: 15px 24px;
  border-radius: 20px;
  background: #ffffff;
  color: #23303e;
  font-family: "Fraunces", serif;
  font-weight: 900;
}
.navbar-ul li a:hover {
  border-bottom: 3px solid rgba(255, 255, 255, 0.39);
}
.navbar-ul ul li button:hover{
  background: rgba(255, 255, 255, 0.39);
  color: #fff;
}
