.footer-container{
    height: 40vh;
    background: #91d3c5;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #327969;
}
.footer-container h1{
    margin-bottom: 2%;
}
.footer-container .nav{
    width: 20%;
}
.footer-container .nav ul,
.social-connections-icons ul{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}
.social-connections-icons{
    width: 10%;
    margin-top: 5%;
}
.social-connections-icons ul a{
    font-size: 1.5rem;
    color: #327969;
}