.main-content-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.main-content-container div {
  height: 700px;
}
.egg-image {
  background-image: url("../../assets/desktop/image-transform.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.glass-image {
  background-image: url("../../assets/desktop/image-stand-out.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.chery-image {
  background-image: url("../../assets/desktop/image-graphic-design.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.orange-image {
  background-image: url("../../assets/desktop/image-photography.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.text-wrapper h2,
.text-wrapper p {
  margin: 0 auto;
  font-family: "Fraunces", serif;
}
.text-wrapper {
  width: 550px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text-wrapper h2 {
  font-size: 50px;
  width: 550px;
  margin: 0 0 30px;
}
.text-wrapper p {
  width: 550px;
  font-size: 18px;
  color: grey;
}
.text-wrapper a {
  width: 165px;
  display: block;
  margin-top: 50px;
  padding: 8px;
  text-decoration: none;
  color: #000;
  font-family: "Fraunces", serif;
  font-weight: 900;
  color: #23303e;
  position: relative;
}
.text-wrapper a::before {
  content: "";
  width: 100%;
  border-bottom: 8px solid #fad400;
  position: absolute;
  bottom: 8px;
  left: 0px;
  z-index: -1;
  border-radius: 10px;
  opacity: 0.3;
}
.text-wrapper  .learn-more-red::before {
  border-bottom: 8px solid #fe7867;
}
.chery-image .text-wrapper,
.orange-image .text-wrapper {
  justify-content: end;
  padding-bottom: 100px;
  text-align: center;
}
.chery-image .text-wrapper p,
.orange-image .text-wrapper p {
  width: 450px;
}
